<div>
    <%- include('../layouts/msg') %>
        <%- include('../layouts/errors') %>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Daftar Pengguna</h5>
                <p class="card-description">
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Premium</th>
                            <th scope="col">Terverifikasi</th>
                            <th scope="col">Token</th>
                            <th scope="col">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach( function( u ) { %>
                            <tr>
                                <td>
                                    <%= u.username %>
                                </td>
                                <td>
                                    <% if(u.premium) { %>
                                        <i data-feather="check"></i>
                                        <% }else { %>
                                            <i data-feather="x"></i>
                                            <% } %>
                                </td>
                                <td>
                                    <% if(u.isVerify) { %>
                                        <i data-feather="check"></i>
                                        <% }else { %>
                                            <i data-feather="x"></i>
                                            <% } %>
                                </td>
                                <td>
                                    <%= u.token %>
                                </td>
                                <td>
                                    <% if(u.premium) { %>
                                        <a href="#" class="btn btn-outline-danger m-b-xs" id="delPremiumFL"
                                            for="delPremiumFromList" data-bs-toggle="modal"
                                            data-bs-target="#delPremiumFromList" data-id="<%= u.username %>">- Prem</a>
                                        <% }else { %>
                                            <a href="#" class="btn btn-outline-success m-b-xs" for="addPremiumFromList"
                                                data-bs-toggle="modal" data-bs-target="#addPremiumFromList">+ Prem</a>
                                            <% } %>
                                                <!-- <a href="#" class="btn btn-outline-warning m-b-xs" for="resLimit"
                                                    data-bs-toggle="modal" data-bs-target="#resLimit">Reset</a> -->
                                                <form action="/admin/delete-user" method="POST">
                                                    <input type="hidden" id="username" name="username"
                                                        value="<%= u.username %>">
                                                    <input type="hidden" id="redirect" name="redirect"
                                                        value="/admin/users-list">
                                                    <button class="btn btn-outline-danger m-b-xs"
                                                        onClick="return confirm('Yakin ingin menghapus user \'<%= u.username %>\'?');">Hapus</button>
                                                </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/modal') %>