<script src="//<%= req.hostname %>/plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="//<%= req.hostname %>/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="//<%= req.hostname %>/js/popper.min.js"></script>
<script src="//<%= req.hostname %>/js/feather.min.js"></script>
<script src="//<%= req.hostname %>/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
<script src="//<%= req.hostname %>/plugins/DataTables/datatables.min.js"></script>
<script src="//<%= req.hostname %>/plugins/apexcharts/apexcharts.min.js"></script>
<script src="//<%= req.hostname %>/js/jquery.js"></script>
<script src="//<%= req.hostname %>/js/form.js"></script>
<script src="//<%= req.hostname %>/js/main.min.js"></script>
<script src="//<%= req.hostname %>/js/pages/dashboard.js"></script>
<script src="//<%= req.hostname %>/js/pages/datatables.js"></script>
</body>

</html>